@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #060606;
    color: #ffffff;
    font-size: 0.9em;
}


.dropdown-toggle {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #060606;
    min-width: 80px;
    max-width: 120px;
    border: 1px solid #282828;
    z-index: 1;
    top: 40px;
    right: 40px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #282828;
}

.dropdown:hover .dropdown-content {
    display: block;
}

