<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/partials/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/partials/sidebar.css" type="text/css">

    <link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <%- include('../partials/sidebar.ejs') %>



    <div class="filter-container">
        <div class="filter-input">
            <input class="search-filter" type="text" placeholder="Search..." name="search" id="search">
        </div>
    </div>
    <table class="logs-table">
        <tr class="log-row">
            <th>Username</th>
            <th>Action</th>
            <th>Date</th>
        </tr>

        <tr class="log-row-data">

        </tr>

    </table>

    <script src="/js/logs.js"> </script>
</body>
</html>
