<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/errors/404.css">
    <link rel="stylesheet" href="/css/partials/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <title>PasteLitter - 404</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>


    <div class="sys-message">
        <h1>404</h1>
        <p>Page Not Found, Try Again Later</p>
    </div>
</body>
</html>